.container-fluid{
    margin:0px;
    padding:0px;
    width:100%;
}

.text-heading{
    color: #2C3A47;
}
small{
    color: #f1f2f6;
}
p{
    color: #485460;
    font-size: 15px;
}
.footer a{
    color: #485460;
}
.footer{
    padding: 40px;
    text-align: center;
    /* background: #f1f2f6; */
    width: 100%;
}
.lastupdate{
    color: #2f3542;
}
.shadow-nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.landing-page{
    margin: 150px 0;
}
.landing-page h1{
    font-size: 50px;
    color: #3F3D56;
}
.h1-responsive{
   color: #dcdde1;
   padding: 100px 50px;
   font-weight: 900;
}
.confirmed{
background: #ffa502;
}

.activecare{
    background: #1e90ff;
}

.recovered{
    background: #26de81;
}

.deaths{
    background: #ff4757;
}

@media only screen and (max-width: 700px){
    .h1-responsive{
        font-size: 30px;
        padding: 60px 20px;
        text-align: unset;
    }
}